html {
  scroll-behavior: smooth;
}

.main-container {
  background: linear-gradient(311.76deg, #000000 -15.24%, #767676 78.85%);
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-texts {
  position: absolute;
  padding: 9% 0% 0% 10%;
  color: #ffff;
  width: 40%;
}

.main-medium-text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-big-text {
  margin: 0%;
  font-size: 7rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-section-1 {
  display: flex;
  background: linear-gradient(311.76deg, #000000 -15.24%, #767676 78.85%);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  min-height: 100vh;
}

.mainimg {
  width: 100%;
  height: auto;
}

.container-section-2 {
  background-image: url(images/twd_folder.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  width: 100%;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
  position: relative;
}
.container-events-1,
.container-events-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 0 10%;

}
.event {
  background-image: url(images/folder_blood.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 3%;
}
.event p {
  width: 70%;
  color: white;
}
.event-modal {
  width: 100%;
  min-height: 130vh;
  position: absolute;
  background-color: rgba(117, 26, 26, 0.3);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  /* bottom: 100px; */
}
.modal-content {
  width: 30%;
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: center;
  background-image: url(images/blood.png) !important;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.modal-header,
.modal-body,
.modal-footer {
  border: none !important;
}
.modal-body {
  text-align: center;
  font-size: 25px;
}
.modal-footer {
  font-size: 25px;
}
.events-title {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  background-color: black;
  padding: 10px;
}


.container-section-3 {
  background-repeat: no-repeat;
  background-image: url(images/blood.png); 
  background-size: 55%;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
  position: relative;
}

.container-section-3 img{
  position: absolute;
  width: 40%;
  opacity: 0.85;  
}

.contact-title {
  color: white;
  font-size: 90px;
  font-weight: bolder; 
  padding: 10px;
  padding-bottom: 50px;
}

.contact-txt {
  color: white;
  font-size: 40px;
  font-family: sans-serif;
  font-weight:lighter;  
  padding: 10px;
  padding-bottom: 30px;
}

.btn-contact{
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  color: red;
  font-size: 40px;
  font-weight: bolder; 
  padding: 10px;
  width: 130vh;
  border-radius: 5px;
  border-color: white;

}

.location {
  border-radius: 3%;
  background-color: #ffff;
  color: #000000;
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.location span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.location span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.location:hover span {
  padding-right: 25px;
}

.location:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (min-width: 800px) {
  .container-events-1 ,
  .container-events-2 {
    font-size: 20px;
    
  }
  .container-events-2 {
    padding-top: 0%;
  }
  .event {
    height: 200px;
    cursor: pointer;

  }
}

@media screen and (min-width: 1200px) {
  .container-events-1,
  .container-events-2 {
    font-size: 25px;
  }
  .container-events-2 {
    padding-top: 2%;
  }
  .event{
    height: 300px;
  }
}
@media screen and (min-width: 1600px) {
  .container-section-2 {
    background-size: 90%;
  }
  .event {
    height: 400px;
    
  }
}

@media screen and (min-width: 1900px) {
  .container-section-2 {
    background-size: 80%;
  }
  .container-events-1,
  .container-events-2 {
    justify-content: center;
    font-size: 35px;
  }
  .event {
    height: 400px;
    width: 28%;
  }
}
